.profileContainer{
    display: flex;

}
.profileRight{
    flex: 9;
}
.profileRightBottom{
    display: flex;
}
.profileCover{
    height: 320px;
    position: relative;
}
.profileCoverImg{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.profileUserImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 190px;
    margin: auto;
    border: 3px solid white;
}
.profileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}
.profileInfoName{
    margin-top: 30px;
    font-size: 24px;
    margin-bottom: 3px;
}
.profileInfoDescription{
    font-size: smaller;
}